.wrapper{
   overflow: hidden;
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}
body{
   background-color: rgb(73, 67, 67);
}
header{
   background-color: green;
   font-size: 30px;
   font-weight: 900;
   color: yellowgreen;
   text-align: center;
}
.page{
   padding: 30px;
   text-align: left;
   flex-grow: 1;
}
.block__display{
   border: 5px solid blue;
   background-color: blueviolet;
}
.block__item{
   color: rgb(210, 21, 21);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: 700;
   background-color: wheat;
   padding: 5px;
   text-align: center;
   border: 3px dashed rgb(255, 119, 0)
}
.display{
   text-transform: uppercase;
   color: whitesmoke;
   text-align: center;
   font-size: 20px;
   font-weight: 700;
}
.block__flex{
   border: 5px solid blue;
   background-color: blueviolet;
   display: flex;
}
.block__inline{
   border: 5px solid blue;
   background-color: blueviolet;
   display: inline-flex;
}
.block__wrap{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap-reverse;
}
.block__justify{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: flex-end;
}
.block__between{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: space-between;
}
.block__around{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: space-around;
}
.block__evenly{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.block__align{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: center;
   height: 100px;
   align-items: center;
}
.block__direction{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: column-reverse;
   height: 100px;
}
.block__self{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   align-self: stretch;
   height: 150px;
}
.item__block{
   align-self: center;
}
.block__grow{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   align-self: stretch;
   height: 150px;
}
.item__grow{
   align-self: center;
   flex-grow: 1;
}
.block__shrink{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   align-self: stretch;
   height: 150px;
}
.item__shrink{
   align-self: center;
   flex-grow: 0;
   flex-shrink: 1;
   
}
.block__basis{
   display: flex;
   border: 5px solid blue;
   background-color: blueviolet;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   align-self: stretch;
   height: 150px;
   column-gap: 10px;
   row-gap: 20px;
}
.item{
   flex: 0 1 20%;
}
.item:nth-child(1){
   order: 5;
}
.item:nth-child(2){
   order: 3;
}
.item:nth-child(3){
   order: 1;
}
.item:nth-child(4){
   order: 4;
}
.item:nth-child(5){
   order: 2;
}
.page__block {
   color: white;
   text-transform: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: 20px;
}
.page__block-tittle {
   font-size: 22px;
}
.page__block-link {
   font-weight: 400;
   color: rgb(40, 223, 49);
}
.page__block-text {
   font-weight: 400;
   line-height: 120%;
}
.cards{
   display: flex;
   margin: 0px -15px;
}
.cards__column{
   flex: 0 1 33.333%;
   padding: 0px 15px;
   
}
.cards__item{
   min-height: 100%;
}
.item-card{
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: flex-start;
}
.item-card__image img{
   max-width: 100%;
}
.item-card__text{
   color: white;
   font-size: 20px;
   text-transform: none;
   flex-grow: 1;
}
.item-card__button{
   background-color:  rgb(76, 225, 34);
   padding: 5px;
}
.footer{
   background-color: green;
   text-align: center;
   color: yellowgreen;
   text-transform: uppercase;
}
